/* My First CSS Style Document */

/* Element Selectors */
body {
    background-color: #68778c;
}

h1,
h2 {
    color: #A8DADC;
    text-align: left;
    font-weight: normal;
    text-decoration: underline;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-size: 16px;
    color: #F1FAEE;
    border-color: #F1FAEE;
    background-color: #457B9D;
}

p {
    color: #F1FAEE;
    font-weight: bold;
    line-height: 2;
}

/* Class Selectors */
.tag {
    background-color: #E63946;
}

section.post {
    background-color: rgb(139, 139, 97);
}

/* ID Selectors */
#signup {
    background-color: #A8DADC;
    color: #1D3557;
}

#login {
    background-color: #1D3557;
}

/* Descendant Selector */
.post span {
    color: rgb(244, 244, 244);
}

footer a {
    color: red;
}

/* Adjacent Selector */
input+button {
    background-color: red;
}

/* Direct Child */
footer>a {
    color: rgb(0, 231, 0);
}

/* Attribute Selector */
input[type="password"] {
    color: greenyellow;
}

a[href*="google"] {
    color: magenta;
}