section {
    width: 600px;
    height: 150px;
    background-color: magenta;
}

#rgba {
    width: 70%;
    height: 50%;
    background-color: rgba(0, 255, 30, 0.176);
}

#opacity {
    width: 70%;
    height: 50%;
    background-color: yellow;
    opacity: 0.5;
}